@charset "utf-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

body {
  display: grid;
  grid-template-columns: 200px 800px;
  grid-template-areas: 
    "sidebar main"
    "sidebar footer"
}

aside {
  grid-area: sidebar;
  background-color: blue;
  width: 200px;
  height: 650px;
  float: left;
}

main {
  grid-area: main;
  background-color: red;
  width: 800px;
  height: 550px;
}

.slides {
  background-color: yellow;
  width: 800px;
  height: 350px;
}

.contents {
  background-color: slateblue;
  width: 800px;
  height: 200px;
}

footer {
  grid-area: footer;
  background-color: slategrey;
  width: 800px;
  height: 100px;
}
