.menu {
  display: flex;
  gap: 10px;
  border: 1px solid black;
}

.menu > li {
  background-color: pink;
  position: relative;
  width: 120px;
  text-align: center;
  padding: 5px;
}

.menu > li:hover .submenu {
  max-height: 500px;
  transition: max-height 3s;
}

.submenu {
  display: block;
  position: absolute;
  max-height: 0;
  overflow: hidden;
  top: 100%;
  left: 0;
  width: 100%;
  transition: max-height 0.5s;
}

.submenu li {
  border: 1px solid black;
}

main {
  display: flex;
}

main header {
  width: 200px;
  background-color: chocolate;
}

main header nav {
  margin-top: 250px;
  font-size: larger;
  color: white;
}

main header nav a {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 15px;
}

main header nav > ul > li {
  width: 180px;
  margin: 0 auto;
  position: relative;
  background-color: slateblue;
  outline: 1px solid black;
}

main header nav > ul > li:hover {
  background-color: black;
}

main header nav > ul > li ul {
  position: absolute;
  display: flex;
  width: calc(100vw - 175px);
  height: 100%;
  top: 0;
  left: 100%;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
}

main header nav > ul > li ul li:hover {
  background-color: black;
}

main .contents {
  width: calc(100% - 200px);
}

main .contents .slides {
  height: 400px;
  background-color: yellow;
}

main .contents .shortcut {
  height: 200px;
  background-color: violet;
}

main .contents .tab {
  height: 250px;
  background-color: cadetblue;
}

footer {
  height: 120px;
  background-color: slategray;
}
